<html>

  <head>
    <title>
      Dashboard 
    </title>
    <meta charset='utf-8' />

    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/fav/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/fav/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/fav/favicon-16x16.png'
    />
    <link rel='manifest' href='/site.webmanifest' />
    <meta
      name='msapplication-TileColor'
      content='#da532c'
    />
    <meta name='theme-color' content='#ffffff' />

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/dashboard.css' rel='stylesheet' />

    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  </head>
    <div class='page page--dashboard'>
      <aside class='page__aside aside vertical vertical--big'>
        <div class='aside__logo text text--light text--line text--lg'> Sidebar </div>

        <nav class='vertical vertical--small'>

          <a href='#' class='nav-button nav-button--active clickable'>
            <span style='background-image: url("/svg/nav/home.svg")' class='icon nav-button__icon'></span>
            <span class='text text--light'>Home</span>
          </a>

          <a href='#' class='nav-button clickable'>
            <span style='background-image: url("/svg/nav/table.svg")' class='icon nav-button__icon'></span>
            <span class='text text--light'>Orders</span>
          </a>

          <a href='#' class='nav-button clickable'>
            <span style='background-image: url("/svg/nav/grid.svg")' class='icon nav-button__icon'></span>
            <span class='text text--light'>Products</span>
          </a>

        </nav>

      </aside>
      <header class='header'>
        <div class='layout header__content'>
          <div class='header__search relative'>
            <input class='field field--header' placeholder='Search' />
            <span class='icon header__icon-search'></span>
            <span class='icon header__icon-settings icon--button clickable'></span>
          </div>

          <div class='header__func-icons'>
            <span class='icon icon--button icon--button--yellow icon--button-func' style='background-image: url("/svg/header/antenna.svg")'></span>
            <span class='icon icon--button icon--button--blue icon--button-func' style='background-image: url("/svg/header/translate.svg")'></span>
            <span class='icon icon--button icon--button--yellow icon--button-func' style='background-image: url("/svg/header/bell.svg")'></span>
          </div>
          
        </div>
      </header>
      <main class='main'>
        <div class='layout'>
          <section class='box analytic__block'>
            <div class='analytic analytic--lg'>
              Test
            </div>
            <div class='analytic analytic--lg analytic--blue'> 
              <span 
                class='icon analytic__button icon--button analytic__button--blue click'
                style='background-image: url("/svg/main/analytics/shopping.svg")'
                ></span>

              <div class='vertical vertical--small relative'>
                <span 
                  class='icon analytic__arrow'
                  style='background-image: url("/svg/main/analytics/arrow.svg")'
                  ></span>
                <div class='test text--light text--lg'>$961</div>
                <div class='test text--secondary--light'>Total order</div>
              </div>
            </div>
            <div class='analytic analytic--blue'>
              <div> Test </div>
              <div> Test </div>
              <div> Test </div>
            </div>
            <div class='analytic'>
              <div> Test </div>
              <div> Test </div>
              <div> Test </div>
            </div>
          </section>
        </div>
      </main>
      
    </div>

  </body>

</html>
