<html>

  <head>
    <title>
      Dashboard 
    </title>
    <meta charset='utf-8' />

    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/fav/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/fav/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/fav/favicon-16x16.png'
    />
    <link rel='manifest' href='/site.webmanifest' />
    <meta
      name='msapplication-TileColor'
      content='#da532c'
    />
    <meta name='theme-color' content='#ffffff' />

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/dashboard.css' rel='stylesheet' />

    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  </head>
    <div class='page page--dashboard'>
      <aside class='page__aside aside vertical vertical--big'>
        <div class='aside__logo text text--light text--line text--lg'> Sidebar </div>

        <nav class='vertical vertical--small'>

          <a href='#' class='nav-button nav-button--active clickable'>
            <span style='background-image: url("/svg/nav/home.svg")' class='icon nav-button__icon'></span>
            <span class='text text--light'>Home</span>
          </a>

          <a href='#' class='nav-button clickable'>
            <span style='background-image: url("/svg/nav/table.svg")' class='icon nav-button__icon'></span>
            <span class='text text--light'>Orders</span>
          </a>

          <a href='#' class='nav-button clickable'>
            <span style='background-image: url("/svg/nav/grid.svg")' class='icon nav-button__icon'></span>
            <span class='text text--light'>Products</span>
          </a>

        </nav>

      </aside>
      <header class='header'>
        <div class='layout header__content'>
          <div class='header__search relative'>
            <input class='field field--header' placeholder='Search' />
            <span class='icon header__icon-search'></span>
            <span class='icon header__icon-settings icon--button clickable'></span>
          </div>

          <div class='header__func-icons'>
            <span class='icon icon--button icon--button--yellow icon--button-func' style='background-image: url("/svg/header/antenna.svg")'></span>
            <span class='icon icon--button icon--button--blue icon--button-func' style='background-image: url("/svg/header/translate.svg")'></span>
            <span class='icon icon--button icon--button--yellow icon--button-func' style='background-image: url("/svg/header/bell.svg")'></span>
          </div>
          
        </div>
      </header>
      <main class='main'>
        <div class='layout'>
          <section class='box analytic__block'>

            <div class='analytic analytic--lg analytic--purple'>

              <span
                class='icon analytic__button icon--button analytic__button--purple clickable'
                style='background-image: url("/svg/main/analytics/money.svg")'
                ></span>

              <div class='vertical vertical--small relative'>

                <span 
                  class='icon analytic__arrow'
                  style='background-image: url("/svg/main/analytics/arrow.svg")'
                  ></span>
                <div class='text text--light text--lg'> $500.00 </div>
                <div class='text text--secondary--light'> Total earning </div>

              </div>

            </div>

            <div class='analytic analytic--lg analytic--blue'> 

              <span 
                class='icon analytic__button icon--button analytic__button--blue clickable'
                style='background-image: url("/svg/main/analytics/shopping.svg")'
                ></span>

              <div class='vertical vertical--small'>

                <div class='text text--light text--lg'>$961</div>
                <div class='text text--secondary--light'>Total order</div>

              </div>

            </div>

            <div class='analytic analytic--blue'>

              <span
                class='icon icon--button analytic__button analytic__button--blue clickable'
                style='background-image: url("/svg/main/analytics/money.svg")'
                ></span>

              <div class='vertical vertical--smallest'>
                <div class='text text--light text--semi-lg'>$203k</div>
                <div class='text text--secondary--light'>Total income</div>
              </div>

            </div>

            <div class='analytic analytic--yellow'>

              <span
                class='icon icon--button analytic__button icon--button--yellow clickable'
                style='background-image: url("/svg/main/analytics/shop.svg")'
                ></span>
              <div>
                <div class='text text--semi-lg'> $203k </div>
                <div class='text text--secondary'> Total income </div>
              </div>

            </div>

          </section>
        </div>
        <div class='layout'>
          
          <section class='main__actions'>
            <div class='box purchase-list vertical'>
              <div class='text text--heading'> Purchase list </div>
              <hr class='divider' />
              <div class='purchase-list__item'>
                
                <div class='text'> ID437661 </div>
                <div class='text'> AirOn ProCam </div>
                <div class='text'> 132.32 EUR </div>
                <div class='text'> Customer </div>

                <div class='text'> May 11, 2023, 14:21 </div>
                <div class='text'> 7/8 USB Type-C </div>
                <div class='text text--danger'> Not paid </div>
                <div class='text'> robin@com.de </div>
                
              </div>
              <hr class='divider' />
              <div class='purchase-list__item'>
                
                <div class='text'> ID437661 </div>
                <div class='text'> PHILIPS Essential </div>
                <div class='text'> 543 USD </div>
                <div class='text'> Customer </div>

                <div class='text'> May 11, 2023, 14:21 </div>
                <div class='text'> HD9200/90 </div>
                <div class='text text--success'> Pay by  Stripe </div>
                <div class='text'> dima@com.ua </div>
                
              </div>
            </div>
            <div class='box vertical vertical--lg'>
              <div class='text text--heading'> Payment </div>
              <hr class='divider' />
              <div class='vertical vertical--small'>

                <form class='payment-method'>

                  <span class='payment-method__radio-over'></span>
                  <input type='radio' name='method' id='credit-card' class='payment-method__radio' />
                  <label for='credit-card' class='text'>Credit card</label>

                  <span class='payment-method__radio-over'></span>
                  <input type='radio' name='method' id='debit-card' class='payment-method__radio' />
                  <label for='debit-card' class='text'>Debit card</label>

                  <span class='payment-method__radio-over'></span>
                  <input type='radio' name='method' id='PayPal' class='payment-method__radio' />
                  <label for='PayPal' class='text'>PayPal</label>

                </form>
                <div class='payment-data'>

                  <label for='card-name' class='text'>Name on card</label>
                  <label for='card-name' class='text'>Credit card number</label>

                  <input class='field field--sm' type='text' name='payment-data' id='card-name' />
                  <input class='field field--sm' type='text' name='payment-data' id='card-name' />

                  <label for='card-name' class='text'>Expiration</label>
                  <label for='card-name' class='text'>CVV</label>

                  <input class='field field--sm' type='text' name='payment-data' id='card-name' />
                  <input class='field field--sm' type='text' name='payment-data' id='card-name' />

                </div>
              </div>
                
              <hr class='divider' />
                
              <div class='payment-address'>

                <span class='text'>Country</span>
                <span class='text'>State</span>
                  
                <div class='field field--sm relative'>
                  
                  <span class='text'>Choose...</span>
                  <span class='icon select__arrow'></span>
                  <select class='field-select clickable--hidden'>
                    <option value='A'>A</option>
                    <option value='B'>B</option>
                    <option value='C'>C</option>
                  </select>
                  
                </div>


                <div class='field field--sm relative'>
                   
                  <span class='text'>Choose...</span>
                  <span class='icon select__arrow'></span>
                  <select class='field-select clickable--hidden'>
                    <option value='D'>D</option>
                    <option value='E'>E</option>
                    <option value='F'>F</option>
                  </select>
                  
                </div>
                
              </div>

              <hr class='divider' />
                
              <button type='button' class='button button--blue text text--light'>Continue to checkout</button>
            </div>
          </section>
          
        </div>
      </main>
      
    </div>

  </body>

</html>
