<html>

  <head>
    <title>
      Slack
    </title>
    <meta charset='utf-8' />

    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/fav/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/fav/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/fav/favicon-16x16.png'
    />
    <link rel='manifest' href='/site.webmanifest' />
    <meta
      name='msapplication-TileColor'
      content='#da532c'
    />
    <meta name='theme-color' content='#ffffff' />

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/slack.css' rel='stylesheet' />

    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  </head>

  <body>

    <div class='page'>
      <section class='page-section'>
        <div class='page-content hero-section'>

          <div class='hero'>
            <div class='hero-content'>
              <span class='hero-label'>Slack features</span>
              <h1 class='hero-title'>One platform for your
  team and your work</h1>
              <p class='hero-info double-line'>All the features of Slack work together so you can, too.</p>
              <div class='hero-buttons'>
                <a href='#' class='button button-primary click'>Try for free</a>
                <a href='#' class='button button-secondary click'>See all features</a>
              </div>
              <img class='hero-img' src='/img/hero-img.png' alt='Hero image' />
            </div>
          </div>


          <div class='brands'>
            <img class='brands-image' src='/img/brands/airbnb.png' alt='airbnb' />
            <img class='brands-image' src='/img/brands/target.png' alt='target' />
            <img class='brands-image' src='/img/brands/uber.png' alt='uber' />
            <img class='brands-image' src='/img/brands/onemedical.png' alt='onemedical' />
            <img class='brands-image' src='/img/brands/newscorp.png' alt='newscorp' />
            <img class='brands-image' src='/img/brands/va.png' alt='va' />
            <img class='brands-image' src='/img/brands/intuit.png' alt='intuit' />
            <img class='brands-image' src='/img/brands/sonos.png' alt='sonos' />
          </div>

        </div>
      </section>
      <section class='page-section page-section-light'>
        <div class='page-content features-section features-section-first section-thin'>
          <h2 class='features-title'>Work more easily with everyone</h2>
          <p class='features-description double-line'>Stay on the same page and make decisions faster by bringing all of your
work communication into one place.</p>


          <div class='features-grid'>
            
            <div class='feat-card feat-card-large'>
              <span class='icon feat-icon' style='background-image: url("/svg/features/connect.svg")'></span>
              <strong>Slack Connect</strong>
              <p class='double-line'>Collaborate with teams at other
  companies the same way you do
  with teams at your own.</p>
              <a href='#' class='icon icon-arrow click feat-link'></a>
            </div>
            <div class='feat-card'>
              <span class='icon feat-icon' style='background-image: url("/svg/features/connect.svg")'></span>
              <strong>Channels</strong>
              <a href='#' class='icon icon-arrow click feat-link'></a>
            </div>

            <div class='feat-card'>
              <span class='icon feat-icon' style='background-image: url("/svg/features/huddles.svg")'></span>
              <strong>Huddles</strong>
              <a href='#' class='icon icon-arrow click feat-link'></a>
            </div>

            <div class='feat-card'>
              <span class='icon feat-icon' style='background-image: url("/svg/features/clips.svg")'></span>
              <strong>Clips</strong>
              <a href='#' class='icon icon-arrow click feat-link'></a>
            </div>

            <div class='feat-card'>
              <span class='icon feat-icon' style='background-image: url("/svg/features/canvas.svg")'></span>
              <strong>Canvas</strong>
              <a href='#' class='icon icon-arrow click feat-link'></a>
            </div>

            <div class='feat-card'>
              <span class='icon feat-icon' style='background-image: url("/svg/features/messaging.svg")'></span>
              <strong>Messaging</strong>
              <a href='#' class='icon icon-arrow click feat-link'></a>
            </div>

            <div class='feat-card'>
              <span class='icon feat-icon' style='background-image: url("/svg/features/accessibility.svg")'></span>
              <strong>Accessibility</strong>
              <a href='#' class='icon icon-arrow click feat-link'></a>
            </div>
          </div>

        </div>
      </section>
      <section class='page-section page-section-light'>
        <div class='page-content features-section features-section-second section-thin'>
          <h2 class='features-title'>What you need, when you need it</h2>
          <p class='features-description double-line'>Spend less time shuffling tabs with a comprehensive message archive and
all your work tools at your fingertips.</p>

          <div class='features-grid'>
            <div class='feat-card feat-card-large'>
              <span class='icon feat-icon' style='background-image: url("/svg/features-2/apps.svg")'></span>
              <strong>Apps and Integrations</strong>
              <p class='double-line'>Streamline work by connecting
                Slack with other services like
                Google Drive, Office 365 and
                over 2,200 more.
              </p>
              <a href='#' class='icon icon-arrow click feat-link'></a>
            </div>

            <div class='feat-card feat-card-large'>
              <span class='icon feat-icon' style='background-image: url("/svg/features-2/workflow.svg")'></span>
              <strong>Workflow Builder</strong>
              <p class='double-line'>Automate routine actions and
                communication, so you can get
                back to the kind of work only
                humans can do.
              </p>
              <a href='#' class='icon icon-arrow click feat-link'></a>
            </div>
            <div class='feat-card'>
              <span class='icon feat-icon' style='background-image: url("/svg/features-2/search.svg")'></span>
              <strong>Search</strong>
              <a href='#' class='icon icon-arrow click feat-link'></a>
            </div>
            <div class='feat-card'>
              <span class='icon feat-icon' style='background-image: url("/svg/features-2/file-sharing.svg")'></span>
              <strong>File sharing</strong>
              <a href='#' class='icon icon-arrow click feat-link'></a>
            </div>

          </div>
        </div>
      </section>
      <section class='page-section'>
        <div class='page-content customer section-thin'>
          <img src='/img/deliveroo.png' alt='Deliveroo' class='customer-img' />

          <div class='customer-content'>
            <strong class='double-line customer-title'>“The thing that keeps us connected
                the most is Slack. It’s a very
                immediate and straightforward
                method of communication, and
                really the only channel that people
                prefer and enjoy using.”
            </strong>
            <div class='deliveroo-logo'></div>
            <p>Will Sprunt, CIO, Deliveroo</p>
          </div>

        </div>
      </section>
      <section class='page-section'>
        <div class='page-content explore section-thin'>
          <h2>Explore more about working in Slack</h2>
          <div class='explore-grid'>

            <div class='explore-card'>

                <div class='explore-card-header'>
                  <img src='/img/explore/slack-101.png' alt='Slack 101' />
                  <div class='explore-card-text'>
                    <p class='explore-item-category'>Slack Tutorials</p>
                    <h2 class='explore-item-title double-line'>Slack 101</h2>
                  </div>
                </div>

                <div class='explore-card-nav'>
                  <p class='learn-more-button'>Learn more</p>
                  <a href='#' class='icon icon-arrow'></a>
                </div>


            </div>
            
            <div class='explore-card'>

              <div class='explore-card-header'>
                <img src='/img/explore/slack-vs-email.png' alt='Slack vs. Email' />
                <div class='explore-card-text'>
                  <p class='explore-item-category'>Slack vs. Email</p>
                  <h2 class='explore-item-title double-line'>An easier, more organized way to work</h2>
                </div>
              </div>

              <div class='explore-card-nav'>
                <p class='learn-more-button'>Learn more</p>
                <a href='#' class='icon icon-arrow'></a>
              </div>


            </div>

            <div class='explore-card'>

              <div class='explore-card-header'>
                <img src='/img/explore/fastly.png' alt='' />
                <div class='explore-card-text'>
                  <p class='explore-item-category'>Customer Stories</p>
                  <h2 class='explore-item-title double-line'>How Fastly uses Slack
                    Connect to wow
                    enterprise customers
                  </h2>
                </div>
              </div>

              <div class='explore-card-nav'>
                <p class='learn-more-button'>Learn more</p>
                <a href='#' class='icon icon-arrow'></a>
              </div>
            </div>
          </div>
          
        </div>
      </section>
    </div>

  </body>

</html>
