<html>

  <head>
    <title>
      Slack
    </title>
    <meta charset='utf-8' />

    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/fav/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/fav/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/fav/favicon-16x16.png'
    />
    <link rel='manifest' href='/site.webmanifest' />
    <meta
      name='msapplication-TileColor'
      content='#da532c'
    />
    <meta name='theme-color' content='#ffffff' />

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/slack.css' rel='stylesheet' />

  </head>

  <body>

    <div class='page'>
      <div class='page-section'>
        <div class='page-content hero-section'>

          <div class='hero'>
            <span class='hero-label'>Slack features</span>
            <h1 class='hero-title'>One platform for your
team and your work</h1>
            <p class='hero-info'>All the features of Slack work together so you can, too.</p>
            <div class='hero-buttons'>
              <a href='#' class='button button-primary'>Try for free</a>
              <a href='#' class='button button-secondary'>See all features</a>
            </div>
          </div>

          <img class='hero-img' src='/img/hero-img.png' alt='Hero image' />

          <div class='brands'>
            <img class='brands-image' src='/img/brands/airbnb.png' alt='airbnb' />
            <img class='brands-image' src='/img/brands/target.png' alt='target' />
            <img class='brands-image' src='/img/brands/uber.png' alt='uber' />
            <img class='brands-image' src='/img/brands/onemedical.png' alt='onemedical' />
            <img class='brands-image' src='/img/brands/newscorp.png' alt='newscorp' />
            <img class='brands-image' src='/img/brands/va.png' alt='va' />
            <img class='brands-image' src='/img/brands/intuit.png' alt='intuit' />
            <img class='brands-image' src='/img/brands/sonos.png' alt='sonos' />
          </div>

        </div>
      </div>
    </div>

  </body>

</html>
