:root {
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;
  --size-xl: 32px;

  --color-border: #dee2e6;
  --color-primary: rgb(55, 114, 255);
  --color-light: white;
  --color-secondary: #5A5A5A;
  --color-title: #212529;
  --color-gray: #6C757D;

  --border-radius: 12px;
  --button-border-radius: 4px;

  --weight-title: 500;
  --weight-text: 400;
}



/* =========================================================== */

.page {
  background: var(--color-light);
  padding: 0 15px;
  display: flex;
  justify-content: center;
  font-family: Roboto;
}

.page-content {
  max-width: 960px;
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 80px;
}

/* =========================================================== */

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 25px;
  background-color: var(--color-primary);
  border-radius: calc(var(--border-radius) / 2);
  padding: 3px 10px;
  color: var(--color-light);

  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-m);
  flex-direction: column;
}

.nav_link {
  color: #343a40;
  font-size: var(--size-xm);
  text-decoration: none;
}

.nav_link:hover {
  text-decoration: underline;
  color: blue;
}

.footer {
  padding: var(--space-l) 0;

  border-top: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-secondary);

  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);

  display: block;
  margin-bottom: var(--space-l);
}

.hero {
  display: flex;
  flex-direction: row;
}

.hero-image {
  height: 500px;
  width: 500px;
  border-radius: var(--border-radius);
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 80px;
  gap: var(--space-l);
}

.hero-title {
  font-size: 36px;
  font-weight: var(--weight-title);
  color: var(--color-title);
  line-height: 120%;
}

.hero-text {
  color: var(--color-secondary);
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  line-height: 170%;
}

.hero-button {
  display: flex;
  justify-content: center;
  padding: var(--space-m) var(--space-xm);
  color: var(--color-light);
  background-color: var(--color-gray);
  border-radius: var(--button-border-radius);
  text-decoration: none;
}

.featured {
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--color-border);
}

.featured-card {
  display: flex;
  flex-direction: column;

  padding: 0 var(--space-l);
  gap: var(--space-l);
  width: 100%;
}

.featured-icon {
  height: 64px;
  width: 64px;
  border-radius: var(--border-radius);
}

.featured-title {
  font-size: var(--size-xl);
  color: var(--color-title);
  font-weight: var(--weight-title);
}

.featured-text {
  color: var(--color-title);
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  line-height: 170%;
}

.featured-link {
  color: var(--color-primary);
}

.actions {
  display: flex;
  justify-content: space-between;
  background: #563D7C;
  border-radius: 8px;
  color: var(--color-light);
  padding: var(--space-l);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
}

.actions-form {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  max-width: 240px;
  width: 100%;
  margin: 2px;
}

.actions-title {
  font-size: 24px;
}

.actions-button {
  padding: var(--space-xm);
  background: var(--color-light);
  color: var(--color-title);
  border-radius: var(--button-border-radius);
  text-decoration: none;
  display: flex;
  justify-content: center;
}

