{{#with data}}
  <div class='article'>
    <div class='article-image' style='background-image: url({{photo}})'></div>
    <strong>{{name}}</strong>
    <p>{{description}}</p>
    <button type='button'>Read all</button>
  </div>
{{/with}}
