{{#with footer}}
<div class='footer-dark'>
  <div class='footer-pages'>
    {{#each pages}}
      <a href='{{path}}'>{{name}}</a>
    {{/each}}
  </div>
  <span class='footer-copyright'>{{copyright}}</span>
</div>
{{/with}}
