<div class='news_item'>


  <div class='news-item_content'>
    <strong class='news_item_title'> Sample blog post </strong>
    <p class='news_item_metadata'>
      <span>Jan 1</span>
      <span>by</span>
      <span class='news_item_author'>Mark</span>
    </p>

    <p class='news_item_description'>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
  </div>

  <a href='#'>Continue reading</a>
</div>
<hr class='divider' />
