{{#with data}}
  <div class='updates-item'>
    <img src='https://picsum.photos/32/32' alt='32x32' />
    <div class='update-content'>
      <p class='update-username'>{{nickname}}</p>
      <p class='update-description'>{{description}}</p>
    </div>
  </div>
{{/with}}
