<html>

  <head>
    <title>
      {{page.title}}
    </title>
    <meta charset='utf-8' />

    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/fav/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/fav/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/fav/favicon-16x16.png'
    />
    <link rel='manifest' href='/site.webmanifest' />
    <meta
      name='msapplication-TileColor'
      content='#da532c'
    />
    <meta name='theme-color' content='#ffffff' />

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/template-7.css' rel='stylesheet' />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

  </head>

  <body>

    <div class='page'>
      <div class='page-content'>
        {{> headerDark header=header}}
        {{{body}}}
        {{> footerDark footer=footer}}
      </div>
    </div>
  </body>

</html>
